/* ==================================================================
    Modifications from ploum.net
================================================================== */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inria Sans';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/inria-sans-v14-latin_latin-ext-300.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inria-sans-300italic - latin_latin-ext */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inria Sans';
  font-style: italic;
  font-weight: 300;
  src: url('fonts/inria-sans-v14-latin_latin-ext-300italic.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inria-sans-regular - latin_latin-ext */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inria Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/inria-sans-v14-latin_latin-ext-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inria-sans-italic - latin_latin-ext */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inria Sans';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/inria-sans-v14-latin_latin-ext-italic.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inria-sans-700 - latin_latin-ext */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inria Sans';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/inria-sans-v14-latin_latin-ext-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inria-sans-700italic - latin_latin-ext */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inria Sans';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/inria-sans-v14-latin_latin-ext-700italic.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  font-family: "Inria Sans";
  font-size: 12pt;
  margin: 40px auto;
  max-width: 800px;
  line-height: 1.5em;
  color: #444;
  background-color: #fffff;
  padding: 0 10px;
}


[aria-label][role~="tooltip"]::after {
  font-family: "Inria Sans";
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Fira', 'Helvetica-Neue', sans-serif;
}
h1 {
  line-height: 1.4;
  text-align: center;
}

h2,
h3 {
  line-height: 1.2;
}
pre,
blockquote,
.signature {
  background: #eee8d5;
  padding: 1em;
}

blockquote,
.signature {
  font-style: italic;
  margin: 2em 1em;
}

p,
ul {
  list-style-type: disc;
}

a {
  color: #169;
  text-decoration: none;
  padding: 0.5em 0;
}

a:hover {
  text-decoration: underline;
}

li {
  padding-left: 0.5em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.header {
  margin: 1em 0;
  display: block;
  width: 100%;
}

.subtitle {
  text-align: center;
  font-style: italic;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  text-align: center;
  font-variant: small-caps;
  font-weight: bold;
}

.horizontal {
  text-align: center;
  padding: 10px 40px;
}
.horizontal li {
  display: inline-block;
  margin: 0 0.5em;
}

/* ==================================================================
    Header and Nav
================================================================== */

header {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (max-width: 480px) {
  header {
    padding-left: 6%;
    padding-right: 6%;
  }
}

@media (min-width: 481px) {
}

/* wide display: enforce maximum width of header to match content */
@media (min-width: 940px) {
  header {
    width: 800px;
  }
}

/*
medium display: nav goes under name
*/
@media (max-width: 760px) {
  header {
    display: block;
  }

  header .blog-name {
    display: block;
    width: 100%;
    padding-bottom: 10px;
  }

  nav {
    width: 100%;
  }
}

/*
narrow display: collapse the header (don't show the menu items)
instead, display a burger menu.
*/
@media (max-width: 500px) {
  header {
    height: 35px;
    display: flex;
    align-items: center;
  }

  header .blog-name {
    display: inline-block;
    width: 70%;
  }

  nav {
    /*display: inline-block;
    width: 27%;*/
    width: 100%;
  }

  header li a {
    border-bottom: none;
  }
  header li a:hover {
    border-bottom: none;
  }

  nav:hover ul {
    display: block;
  }
}

table {
  line-height: 1em;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 1.5em;
}
